#todo::placeholder{
    color: rgb(90,90,90);
}

.show {
    display: block !important;
}
.show_grid {
    display: grid !important;
}
.hidden {
    display: none;
}

.mygrid {
    display: grid;
    grid-template-columns: 3fr 8fr 3fr;
    }

#titlegrid {
    display: grid;
    grid-template-columns: 1fr 200px;
}


#titlegridRight {
    text-align: right;
}

.inputLine{
        text-align: center;
    }

.title {
    display: inline;
    margin:50px;
}

@media (max-width: 780px) {
    .mygrid {
        display: block;
    }
    .inputLine{
        text-align: left;
    }

    #titlegrid {
    display: grid;
    grid-template-columns: 60px 1fr;
}
}

@media (max-width : 470px) {
    .title {
        margin: 0;
    }
}

.btn {
    margin : 3px;
}
.divs {
    padding-bottom: 5px;
    text-align: center  ;
}

.todobtn {
    float: right;
    margin : 3px;
}

.popups{
    display: none;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(6, 51, 198, 0.3);
    padding: 20px;
}
.div_popups {
    display: none;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(6, 51, 198, 0.3);
    padding: 20px;
}

.dark_mode {
    background-color: rgb(40,40,40);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.userBlock {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 12px;
    
    padding: 10px;
    margin: 5px;
}      

.mouseon_user {
    background: rgb(120,120,120);
}


#changeUserGrid{
    
    position :fixed;
    z-index: 20;
    grid-template-rows: 30px 50px 1fr;
    top : 45%;
    left : 50%;
    padding : 10px;
    transform : translate(-50%, -50%);
    width : 300px;
    height : 400px;
}
#addUserBoxPopupPopup {
    position : fixed;
    left: 50%;
    top: 50%;
    width: 300px; /*가로길이 설정은 여기서*/
    margin-left: -170px; /*width의 반만큼 음수로*/
    height: 140px; /*세로길이 설정은 여기서*/
    margin-top: -260px; /*height의 반만큼 음수로*/
    z-index: 30;
    box-shadow: 0 4px 10px rgba(71, 60, 77, 0.3);
    border-radius: 12px;
}

#changeUserPopupBelow {
    margin : 0;
    padding : 0;
    height: 330px;
    width: 300px;
    overflow-y: auto;
}

#todoItem {
    display: grid;
    grid-template-columns: 35px 21px 8fr 200px;
}

#todoItemLeft { text-align: center;}

#settingPopup {
    display: none;
    position : fixed;
    right: 10px;
    top: 50%;
    width: 120px; /*가로길이 설정은 여기서*/
    height: 300px; /*세로길이 설정은 여기서*/
    margin-top: -260px; /*height의 반만큼 음수로*/
    z-index: 10;
    padding: 10px;
    grid-template-rows: 30px 1fr 20px;
    box-shadow: 0 4px 10px rgba(71, 60, 77, 0.3);
    border-radius: 12px;
}

.setdiv {
    padding: 7px;
    font-size: small;
    border-radius: 5%;
}

#worklogdiv {
    display: none;
    position : fixed;
    left: 50%;
    top: 50%;
    width: 300px; /*가로길이 설정은 여기서*/
    margin-left: -150px; /*width의 반만큼 음수로*/
    height: 400px; /*세로길이 설정은 여기서*/
    margin-top: -220px; /*height의 반만큼 음수로*/
    z-index: 30;
    box-shadow: 0 4px 10px rgba(71, 60, 77, 0.3);
    background-color: white;
    border-radius: 12px;
    overflow-y: auto;
    grid-template-rows: 25px 1fr;
}

#langpopup {
    position : fixed;
    right : 155px;
    top: 50%;
    width: 160px; /*가로길이 설정은 여기서*/
    margin-left: -150px; /*width의 반만큼 음수로*/
    height: 70px; /*세로길이 설정은 여기서*/
    margin-top: -190px; /*height의 반만큼 음수로*/
    z-index: 30;
    box-shadow: 0 4px 10px rgba(71, 60, 77, 0.3);
    border-radius: 12px;
    overflow-y: auto;
    grid-template-rows: 25px 1fr;
    padding: 0px;
    padding-top: 10px;
}
